._*
.DS_Store
*jsbundle*
*jsbundle*.*
lunarstone/plumber/*
lunarstone/android/app/release/*
lunarstone/android/app/src/main/assets/index.android.bundle.meta
lunarstone/android/app/src/main/assets/index.android.bundle
lunarstone/package-lock.json
lunarstone/yarn.lock
lunarstone/ios/Pods/*
lunarstone/ios/bundle/*
*output.json
lunarstone/.vscode/.react/*
lunarstone/src/.vscode/launch.json
*.hprof
*output-metadata.json
lunarstone/ios/Podfile.lock
.watchman*
*.lock
*.lock
lunarstone/vendor/*
lunarstone/android/gradle/*
lunarstone/android/app/src/main/res/*
lunarstone/vendor/*


